@page
@model HelpDesk.Pages.Brands.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Brand</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.Image)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Brand.BrandID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
