@page
@model HelpDesk.Pages.Brands.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand[0].Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Brand) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BrandID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BrandID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BrandID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
