@page
@model HelpDesk.Pages.Repairs.DetailsModel

@{
    ViewData["Title"] = "Details";
}


    <script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
    </script>
<h2 style="margin-left:15px">Detail</h2>
<h4 style="margin-left:15px">Repair</h4>
<hr />


<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">HelpDesk</li>
            <li class="breadcrumb-item active">Repair</li>
            <li class="breadcrumb-item active">Detail</li>
        </ol>
        <div class="card ">
            <div class="card-body">
                <div>

                    <div class=" col-md-12 col-lg-12 ">
                        <table class="table table-user-information">
                            <tbody>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.RepairID) :</b></td>
                                    <td> @Html.DisplayFor(model => model.Repair.RepairName)</td>
                                </tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Date_Start) :</b></td>
                                    <td> @Html.DisplayFor(model => model.Repair.Date_Start)</td>
                                </tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Date_Finish) :</b></td>
                                    <td> @Html.DisplayFor(model => model.Repair.Date_Finish)</td>
                                </tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Type) :</b></td>
                                    <td>@Html.DisplayFor(model => model.Repair.Type)</td>
                                </tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Status) :</b></td>
                                    <td>@Html.DisplayFor(model => model.Repair.Status)</td>
                                </tr>

                                <tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Repair_ReportID) :</b></td>
                                    <td>@Html.DisplayFor(model => model.Repair.Repair_ReportID.ReportID)</td>
                                </tr>
                                <tr>
                                    <td><b>Repair by :</b></td>
                                    <td>
                                        @Html.DisplayFor(model => model.Employee.FirstName)
                                        @Html.DisplayFor(model => model.Employee.LastName)
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>@Html.DisplayNameFor(model => model.Repair.Note) :</b></td>
                                    <td>

                                        <div class="form-group">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="5" cols='20' readonly>@Html.DisplayFor(model => model.Repair.Note)</textarea>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Repair.RepairID" />
                        <div hidden class="form-group">
                            <label asp-for="Repair.RepairName" class="control-label"></label>
                            <input asp-for="Repair.RepairName" class="form-control" />
                            <span asp-validation-for="Repair.RepairName" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.Date_Start" class="control-label"></label>
                            <input asp-for="Repair.Date_Start" class="form-control" />
                            <span asp-validation-for="Repair.Date_Start" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.Date_Finish" class="control-label"></label>
                            <input asp-for="Repair.Date_Finish" class="form-control" />
                            <span asp-validation-for="Repair.Date_Finish" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.Note" class="control-label"></label>
                            <input asp-for="Repair.Note" class="form-control" />
                            <span asp-validation-for="Repair.Note" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.Type" class="control-label"></label>
                            <input asp-for="Repair.Type" class="form-control" />
                            <span asp-validation-for="Repair.Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input hidden asp-for="Repair.Status" class="form-control" value="S2: Sucessful" />

                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.ReportID" class="control-label"></label>
                            <select asp-for="Repair.ReportID" class="form-control" asp-items="ViewBag.ReportID"></select>
                            <span asp-validation-for="Repair.ReportID" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Repair.Repair_EmployeeID" class="control-label"></label>
                            <input asp-for="Repair.Repair_EmployeeID" class="form-control" />
                            <span asp-validation-for="Repair.Repair_EmployeeID" class="text-danger"></span>
                        </div>
                        <!-- Report ( Change status -> Resolved! )      -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Report.ReportID" />
                        <div hidden class="form-group">
                            <label asp-for="Report.ReportName" class="control-label"></label>
                            <input asp-for="Report.ReportName" class="form-control" />
                            <span asp-validation-for="Report.ReportName" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Report.Title" class="control-label"></label>
                            <input asp-for="Report.Title" class="form-control" />
                            <span asp-validation-for="Report.Title" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Report.Date" class="control-label"></label>
                            <input asp-for="Report.Date" class="form-control" />
                            <span asp-validation-for="Report.Date" class="text-danger"></span>
                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Report.Note" class="control-label"></label>
                            <input asp-for="Report.Note" class="form-control" />
                            <span asp-validation-for="Report.Note" class="text-danger"></span>
                        </div>
                     
                        <div class="form-group">

                            <input hidden asp-for="Report.Status" class="form-control" value="S3: Resolved" />

                        </div>
                        <div hidden class="form-group">
                            <label asp-for="Report.AssetID" class="control-label"></label>
                            <select asp-for="Report.AssetID" class="form-control" asp-items="ViewBag.AssetID"></select>
                            <span asp-validation-for="Report.AssetID" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input hidden asp-for="Report.Report_EmployeeID" class="form-control" value=2 />

                        </div>

                        @{ if (Model.Repair.Status == "S2: Sucessful")
                            {

                            }
                            else if (Model.Repair.Status == "S3: Can't fix")
                            {

                            }
                            else
                            {
                                <div class="form-group">
                                    <input type="submit" value="Confirm" class="btn btn-outline-secondary brands-modal" style="margin-left:15px" />
                                </div>
                            }

                        }

                    </form>
                </div>

            </div>
        </div>
        <br />
        <br />
        <div style="float: left">

            <a asp-page="./Index">< - - Back to List</a>
        </div>
    </div>
</div>


