@page
@model HelpDesk.Pages.Includes.ShowJobModel

@{
    ViewData["Title"] = "ShowJob";
}




<h2 style="margin-left:15px"> Job Process </h2>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">HelpDesk</li>
            <li class="breadcrumb-item active">Job Process</li>
        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-cogs">&nbsp; Job Process</i>
                    <div style="float: right">
                        <a asp-page="../Reports/Create">
                            <button type="button" class="btn btn-outline-secondary brands-modal">

                                Create
                            </button>
                        </a>
                        <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].ReportID)
                                </th>

                                <th>
                                    Title
                                </th>

                                <th>
                                    Date_Report
                                </th>

                                <th>
                                    Date_Finish
                                </th>
                                <th>
                                    Report by
                                </th>
                                <th>
                                    Repair by
                                </th>
                                <th>
                                    Action
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var item in Model.Report)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportName)
                                </td>



                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>




                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>





                                @{ Boolean flage6 = false;}
                                @foreach (var item2 in Model.Repair)
                                {

                                    if (item2.Repair_ReportID.ReportID == item.ReportID && item2.Status != "S1: On Fixing")
                                    {
                                        flage6 = true;
                                        <td>
                                            @Html.DisplayFor(modelItem => item2.Date_Finish)
                                        </td>

                                    }



                                }
                                @if (flage6 == false)
                                {
                                    <td align="center">
                                        <a>-</a>
                                    </td>
                                }
                                <td>
                                    @foreach (var item1 in Model.Employee)
                                    {
                                        if (item1.EmployeeID == item.Report_EmployeeID)
                                        {
                                            @Html.DisplayFor(modelItem => item1.FirstName);
                                            <a></a> @Html.DisplayFor(modelItem => item1.LastName);
                                        }
                                    }
                                </td>



                                @{ Boolean flage = false;}
                                @foreach (var item2 in Model.Repair)
                                {
                                    @foreach (var item1 in Model.Employee)
                                    {
                                        if (item2.Repair_ReportID.ReportID == item.ReportID && item2.Repair_EmployeeID == item1.EmployeeID)
                                        {
                                            flage = true;

                                            <td>
                                                @Html.DisplayFor(modelItem => item1.FirstName)
                                                <a></a>@Html.DisplayFor(modelItem => item1.LastName)
                                            </td>
                                        }

                                    }

                                }
                                @if (flage == false)
                                {
                                    <td align="center">
                                        <a>-</a>
                                    </td>
                                }
                                <td align="center">
                                    @{ if (Model.Report[i].Status == "S2: Sucessful")
                                        {

                                        }
                                        else if (Model.Report[i].Status == "S3: Can't fix")
                                        {

                                        }
                                        else
                                        {
                                            <a asp-page="./../Repairs/Edit" asp-route-id="@item.ReportID">Manage</a>
                                            <label>| </label>
                                        }


                                    }

                                    <a asp-page="./../Reports/Details" asp-route-id="@item.ReportID">Details</a>
                                    @{ if (Model.Report[i].Status == "S2: Sucessful")
                                        {

                                        }
                                        else if (Model.Report[i].Status == "S3: Can't fix")
                                        {

                                        }
                                        else
                                        {
                                            <a>|</a> <a asp-page="./../Repairs/Delete" asp-route-id="@item.ReportID"> Delete</a>
                                        }
                                    }
                                </td>




                            </tr>
                                i++;
                            }
                          
                            <script>
                                document.getElementById("name").innerHTML = "@Model.Employee[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employee[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employee[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employee[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employee[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employee[0].Position.PositionName.ToString()";
                            </script>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
