@page
@model HelpDesk.Pages.Reports.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h2 style="margin-left:15px">Delete</h2>

<h3 style="margin-left:15px">Are you sure you want to delete this?</h3>
<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">HelpDesk</li>
            <li class="breadcrumb-item active">Repair</li>
            <li class="breadcrumb-item active">Delete</li>
        </ol>
        <div class="card ">
            <div class="card-body">
                <div>
                    <h4>Repair</h4>
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Report.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Report.Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Report.Date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Report.Date)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Report.Note)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Report.Note)
                        </dd>
                       
                        <dt>
                            @Html.DisplayNameFor(model => model.Report.Status)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Report.Status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Report.Report_AssetID.AssetName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Report.Report_AssetID.AssetName)
                        </dd>
                        <dt>
                            EmployeeName

                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Employee.FirstName)
                            @Html.DisplayFor(model => model.Employee.LastName)
                        </dd>
                    </dl>
                </div>
                <div>
                    <form method="post">
                        <input type="hidden" asp-for="Report.ReportID" />
                        <input type="submit" value="Delete" class="btn btn-outline-danger brands-modal" /> |
                    </form>

                </div>

            </div>
        </div>
        <br />
        <br />
        <div style="float: left">

            <a asp-page="./Index">Back to List</a>
        </div>
    </div>
</div>
