@page
@model HelpDesk.Pages.Reports.IndexModel

@{
    ViewData["Title"] = "Index";
}


<script>
                                document.getElementById("name").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
                                document.getElementById("name1").innerHTML = "@Model.Employees[0].FirstName.ToString()";
                                document.getElementById("lastname1").innerHTML = "@Model.Employees[0].LastName.ToString()";
                                document.getElementById("position1").innerHTML = "@Model.Employees[0].Position.PositionName.ToString()";
</script>
<h2 style="margin-left:15px">Report</h2>

<div id="content-wrapper">
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">HelpDesk</li>
            <li class="breadcrumb-item active">Report</li>

        </ol>
        <!-- DataTables Example -->
        <div class="card mb-3">
            <div class="card-header">
                <div class="dataTable_length">
                    <i class="fas fa-clipboard">&nbsp;Report</i>
                    <div style="float: right">
                        <a asp-page="Create">
                            <button type="button" class="btn btn-outline-secondary brands-modal">

                                Create
                            </button>
                        </a>
                        <!--<a class="btn btn-info" asp-page="Create">Create New</a>-->

                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].ReportID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].Date)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].Type)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Report[0].Report_AssetID.AssetName)
                                </th>
                                <th>
                                    Report by
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var i = 0;}
                            @foreach (var item in Model.Report)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReportName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Report_AssetID.AssetName)
                                    </td>
                                    <td>
                                        @foreach (var item1 in Model.Employee)
                                        {
                                            if (item1.EmployeeID == item.Report_EmployeeID)
                                            {
                                                @Html.DisplayFor(modelItem => item1.FirstName);
                                                <a></a> @Html.DisplayFor(modelItem => item1.LastName);
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                       
                                        <a asp-page="./Details" asp-route-id="@item.ReportID">Details</a>

                                    </td>
                                </tr>
                                i++;
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
